
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8F8F8
}

/* --- 

*/


.container {
    width: 100%;
    min-width: 300px;
    padding-left: 160px;
    padding-right: 60px;
}

/*  Menu */

nav {
    width: 96px;
    border-radius: 0px 30px 30px 0px;
    background-color: white;

}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 96px;
    grid-area: menu; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    z-index: 1000;
    background-color: white;
}

.navbar ul {
    display: flex;
    gap: 10px;
}

.menu .navbar, .menu .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin-bottom: 50px;
}

.navbar li:last-child {
    margin-bottom: 0px;
}


li a:active, .navbar li a:hover {
    opacity: 100%;
}
.navbar li a, .settingstab a {
    opacity: 60%;
}

.settingstab a:active, .settingstab a:hover {
    opacity: 100%;
}


.settingstab {
    display: flex;
    margin-top: auto;
    padding-bottom: 30px;
}

.logo {
    margin-top: 20px;
    margin-bottom: 20px;
}



/* Header */

.header {
   padding-top: 35px;
   display: flex;
   justify-content: space-between;
   margin-bottom: 50px;
}

.search {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow: 1;
}

.search input {
    display: inline-block;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 0 solid;
    background-color: transparent;
    padding: 10px;

}
.search img {
    display: inline-block;
    margin-bottom: -5px;
}

.friends {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
    justify-content: flex-end;
}

.friends img {
    border-radius: 30px;
}






/* Mains */

.mains {    
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    position: relative;
    grid-gap: 20px;
    

}

/* Content text */


h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;

    margin-bottom: 5px;
}

p {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    padding-right: 20px;

    opacity: 40%;

    margin-bottom: 18px;
}

a {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration-line: none;

    color: #4339F2;
}



/* Content Box */

.content-box {
    display: flex;
    flex-direction: column;    
    min-width: 300px;
    width: 100%;
    height: fit-content;
    padding: 30px 20px 30px 20px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    

}

.coverage img{
    width: 100%;
    max-height: 120px;
    object-fit: cover;
    
    border-radius: 10px;
    margin-bottom: 10px;

}


/* -- Content box with pic -- */

.text-image {
    display:flex;
    justify-content: space-between;
}

.copyv2 {
    padding-top: max(350px);
}

.text-image p {
    color: white;
    opacity: 80%;
}
.text-image h1 {
    color: white;
}



.background-box-1 {
    background: url(img/pictures/matthew-henry-6fXXM0ePcq0-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.background-box-2 {
    background: url(img/pictures/matthew-henry-nVXyRq90JF4-unsplash.jpg);
    background-position: center;
    background-size: cover;
}





/* TAGS */

#tag {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;


    

    font-family: "DM Sans", sans-serif;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
}

.hash {
    height: 24px;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.Deep, .Dogs, .Found, .Hubble, .Designer, .Tulsa, .Text {
    background-color: #DAD7FE;
}

.Minimal, .Behance, .Glasgow, .Toronto, .Khartoum, .Edinburg, .Lost {  
    background-color: #FFE5D3;
}

.Lost, .Green, .Detroit {
    background-color: #E2FBD7;
}

.Taipei, .Mens, .Alexandria, .Milan, .Columbus {
    background-color: #FFF5CC;
}

.Belgrade, .Harare, .Bogota {
    background-color: #CCF8FE;

}

/* Attributes */

nav hr {
    background-color: #a3a3a3;
    border: 0;
    height: 1px;
    width: 70px;
    margin-bottom: 30px;
}


