* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: calc(100% - 20px);
    height: calc(100vh - 2px);
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 10px 10px 10px 106px;
    margin: 10px auto;
}




/*  Menu */

nav {
    width: 96px;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 96px;
    grid-area: menu;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1000;
}

.navbar ul {
    display: flex;
    gap: 10px;
}

.menu .navbar, .menu .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin-bottom: 50px;
}

.navbar li:last-child {
    margin-bottom: 0px;
}


li a:active, .navbar li a:hover, .settingstab li a:active, .settingstab li a:hover {
    opacity: 100%;
}
.navbar li a, .settingstab li a {
    opacity: 60%;
}
.settingstab {
    display: flex;
    margin-top: auto;
    padding-bottom: 30px;
   
}

.logo {
    margin-top: 20px;
    margin-bottom: 100px;
}



/* Header */

.header {
    grid-area: header;

}







/* Mains */

.mains {
    grid-area: mains;
}








/* Attributes */
